{% extends 'core/base.html' %} {% load humanize %} {% block head_title %}Profile{% endblock %} {% block head_extra %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> {% endblock %} {% block content %}
<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
    <h1 class="font-mono font-bold text-3xl text-center pb-5 pt-2">Profile</h1>
        {{ request.user.first_name }} {{ request.user.last_name }} <br>
        {{ email }} <br>
        {{ gender }} <br>
        {{ account_no }} <br>
        {{ birth_date }} <br>
        {{ balance }} <br>
        {{ address }} <br>
</div>
{% endblock %} {% block footer_extra %}
{% endblock %}